<html data-ng-app="">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body>
<div class="container" data-ng-init="customers=[{name:'Dendi' , city: 'Jakarta'},{name:'Donny', city: 'Sukabumi'},{name:'Dea', city: 'Bandung'}]">
    Name: <input type="text" data-ng-model="name"/>
    <h3>List of Names</h3>
    <ul>
        <li ng-repeat="cust in customers | filter: name | orderBy: 'city'">{{cust.name | uppercase}} - {{cust.city}}</li>
    </ul>
</div>
</body>
</html>